* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f5f7fa;
    line-height: 1.6;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    /* padding: 20px; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 24px;
    color: #0033cc;
}

header img {
    width: 100px;
    height: auto;
}

/* Navigation */
nav {
    display: flex;
    justify-content: center;
    background-color: #0033cc;
    padding: 10px 0;
}

nav span {
    margin: 0 15px;
    font-size: 16px;
}

nav span strong {
    color: #ffffff;
    cursor: pointer;
}

nav a {
    text-decoration: none;
}

nav a strong {
    color: #ffffff;
}

/* Main Section */
main {
    padding: 20px;
    background-color: #ffffff;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

main h2 {
    color: #0033cc;
    margin-bottom: 10px;
}

main p {
    margin-bottom: 15px;
}

/* Fundaciones Section */
.fundaciones_principales {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px auto;
    max-width: 1200px;
}

.fundacion {
    background-color: #ffffff;
    margin: 10px;
    padding: 15px;
    width: 270px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.fundacion img {
    width: 100%;
    border-radius: 8px;
}

.fundacion .data {
    margin-top: 10px;
}

.fundacion .name {
    font-size: 18px;
    color: #0033cc;
    margin-bottom: 5px;
}

.fundacion .description {
    font-size: 14px;
    color: #555;
}

/* Footer (optional) */
footer {
    text-align: center;
    padding: 15px;
    background-color: #0033cc;
    color: #ffffff;
}

.forms {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
}

.forms label {
    color: black;
    font-size: 16px;
    margin: 10px;
}

.forms input {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid #0033cc;
}
.forms input[type="submit"] {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid #0033cc;
    background-color: #0033cc;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.forms button {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid #0033cc;
    background-color: #0033cc;
    color: white;
    font-size: 16px;
    cursor: pointer;
}